<form class="alpacaForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input required minlength="3" maxlength="15" pattern="[a-zA-Z]+" ngModel name="name" #name="ngModel" id="name" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
    <div *ngIf="name.errors.required">Name is required.</div>
    <div *ngIf="name.errors.minlength">Name should be minimum 3 characters.</div>
    <div *ngIf="name.errors.maxlength">Name should be max 15 characters.</div>
    <div *ngIf="name.errors.pattern">Name doesn't match the pattern.</div>
    </div>
    </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input required minlength="1" maxlength="3" pattern="[0-9]+" ngModel name="age" #age="ngModel" id="age" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="age.touched && !age.valid">
      <div *ngIf="age.errors.required">Age is required.</div>
      <div *ngIf="age.errors.minlength">Age should be min one number.</div>
      <div *ngIf="age.errors.maxlength">Age should be max three number. </div>
      <div *ngIf="age.errors.pattern">Age should be only number. </div>
    </div>
  </div>
  <div class="form-group">
    <label for="species">Species</label>
    <input minlength="5" maxlength="30" pattern="[a-zA-Z]+" ngModel name="species" #species="ngModel" id="species" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="!species.valid">
      <div class="alert alert-success" *ngIf="species .touched">The field is not required</div>
      <div *ngIf="species.errors.minlength">Species should be minimum 5 characters.</div>
      <div *ngIf="species.errors.maxlength">Species mame should be max 30 characters.</div>
      <div *ngIf="species.errors.pattern">Species doesn't match the pattern.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    <input minlength="5" maxlength="30" pattern="[a-zA-Z]+" ngModel name="owner" #owner="ngModel" id="owner" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="!owner.valid">
      <div class="alert alert-success" *ngIf="owner.touched">The field is not required</div>
      <div *ngIf="owner.errors.minlength">Owner name should be minimum 5 characters.</div>
      <div *ngIf="owner.errors.maxlength">Owner mame should be max 30 characters.</div>
      <div *ngIf="owner.errors.pattern">Name doesn't match the pattern.</div>
    </div>
  </div>
  <label>Gender</label>
  <div class="form-group">
    <div class="custom-control custom-radio custom-control-inline">
      <input required ngModel name="gender" #gender="ngModel" id="gender" type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
      <label class="custom-control-label" for="defaultInline1">Male</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
      <label class="custom-control-label" for="defaultInline2">Female</label>
    </div>
  </div>

  <button class="btn btn-primary" (click)="add">Dodaj Alpaczkę.</button>
</form>
